<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.workloadplanningtool">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".Activities.OverviewActivity" />
        <activity android:name=".Activities.EditSubTaskActivity" />
        <activity android:name=".Activities.SubTaskDetailsActivity" />
        <activity android:name=".Activities.AddSubTaskActivity" />
        <activity android:name=".Activities.EditAssignment" />
        <activity android:name=".Activities.DetailsActivity" />
        <activity android:name=".Activities.AddAssignment" />

        <receiver android:name=".Broadcaster.ReminderBroadcast" />
    </application>

</manifest>